<h2>Student Form</h2>
<%= form_tag students_path do %>
    <br />
    <%= label_tag "First name:" %>
    <%= text_field_tag :'student[first_name]' %>
    <br />
    <%= label_tag "Last name:" %>
    <%= text_field_tag :'student[last_name]' %>
    <br />
    <%= submit_tag "Submit Student" %>
<% end %>

<%= params.inspect %>